a:hover
{
color:#dddddd;
font-size:22px;
font-weight:bold;
font-family:"Constantia";
}

a
{
color:white;
font-size:18px;
font-family:"Constantia";
}
body
{
background-color:RGB(93,93,93);
}