.Allocated{
	width:50%;
	float: right;
}
.Unallocated{
	width:50%;
	float: right;
}
#allocated{
	display: none;
}
#unallocated{
	display: none;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}